<!DOCTYPE html>
<html lang ="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Assignment 1 Q1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <h1>A virtual tour of Internet history</h1>
    <p class="BoldItalic">The milestone of Internet development:</p>
    <br>
    {{{body}}}
  </body>
</html>