<!DOCTYPE html>
<html lang="en">
<head>
    <title>YUSHAN HUNG</title>
    <link rel = "stylesheet" href = "/view.css">
</head>
<body>
{{{body}}}
<img id = "zoomOut" class="image" src="/img/yushan.jpg" alt="my image"/>

</body>
</html>